@model Vidly.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model == null)
{
    <h2>Invalid Customer reference!</h2>
}
else
{
    <h2>@Model.Name</h2>

    <hr />

    <li>@Model.MembershipType.Name</li>
    if (Model.Birthdate != null)
    {
        <li>Birthdate: @Model.Birthdate.GetValueOrDefault().ToString("yyyy-MM-dd")</li>
    }

}

<hr />

<p>
    @Html.ActionLink("Back to List", "Index")
</p>