
@{
    ViewBag.Title = "New rental form";
}

<h2>New rental form</h2>


<form>
    <div class="form-group">
        <label>Customer</label>
        <input type="text" value="" class="form-control" />
    </div>

    @* 'div.form-group>label+input[type='text'].form-control' *@
    <div class="form-group">
        <label></label>
        <input type="text" value="" class="form-control" />
    </div>

    @* button.btn.btn-primary *@
    <button class="btn btn-primary">Save</button>
</form>