<appSettings>
	<add key="MailServer" value="dev-smtp.vidly.com" />
	<add key="FacebookAppId" value="3225549720878448" />
	<add key ="FacebookAppSecret" value="85fa388484fda353c0c78958e0c448a2"/>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
